.hotelier-wpml-lang-row {
	padding: .6em 0;
}

.hotelier-wpml-lang-row:last-of-type {
	margin-bottom: 1em;
}

.hotelier-wpml-lang-label {
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	width: 120px;
}

.hotelier-wpml-lang-error {
	font-style: italic;
	color: red;
	font-size: 13px;
}
