.hotelier-wpml-lang-row {
	margin-bottom: 18px;
}

.hotelier-wpml-lang-label {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	width: 100px;
}

.hotelier-wpml-lang-error {
	color: #ED4248;
	font-size: 13px;
	font-weight: 500;
}
